################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECalc/bin/
/ECalc/obj/
/ECalc.Api/bin/
/ECalc.Api/obj/
/ECalc.Docs/obj/
/ECalc.Docs/bin/
/ECalc.ExcelInterop/bin/
/ECalc.ExcelInterop/obj/
/Ecalc.FFmpegGui/bin/
/Ecalc.FFmpegGui/obj/
/compile.log
/.vs/
/bin/
/packages/