################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECalc/bin/
/ECalc/obj/
/ECalc.Api/bin/
/ECalc.Api/obj/
/compile.log
/.vs/
/bin/