################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECalc/bin/Debug
/ECalc/obj/Debug
/.vs